@import "tailwindcss";

@theme {
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-mono: "Courier New", Courier, monospace;
  --font-serif: "Georgia", serif;
  
  --color-tech-bg: #E4E3E0;
  --color-tech-ink: #141414;
  --color-tech-line: #141414;
}

@layer base {
  body {
    background-color: var(--color-tech-bg);
    color: var(--color-tech-ink);
    font-family: var(--font-sans);
  }
}

.font-serif-italic {
  font-family: var(--font-serif);
  font-style: italic;
}
